/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul li:hover {
  background-color:rgb(56, 56, 56);
}

.img-profile{
  border: 10px groove rgb(54, 54, 52);

}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #d3ecea;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
  background: #533631 !important;
}

.name1{
  font-weight: 800;
}

.social-icon{
  background-color: rgb(231, 231, 80);
  
}

.v1{
  border-left: 1px solid darkgray;
  padding-left: 5px;
}
.lpad{
  padding-left: 5px;
}
.lpad10{
  padding-left: 10px;
}
.sub-ed{
  padding-left: 8px;
}
#txt1{
  font-size:13px;
  line-height:24px;
  padding-left: 10px;
 }
.material-icons{
  display: inline-flex;
  vertical-align: top;
}
.row1{
  padding-top:100px;
}
.sl{
  margin-top:3px;
}
.pdfViewer{
  background-image: url(../img/web_design.png);
}