.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.star1 {
    width: 3px;
    height: 3px;
    top: 10%;
    left: 10%;
}

.star2 {
    width: 2px;
    height: 2px;
    top: 40%;
    left: 60%;
}

.star3 {
    width: 4px;
    height: 4px;
    top: 70%;
    left: 20%;
}
